button{
    background: #00ade4;
    color: white;
    border-radius: 6px;
    border: 0;
    width: 200px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
button:hover {
    background: #029fd1;
    /*box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset;*/
}

hr{
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 20px;
}

.Img{
    width: 140px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.Price{
    align-self: center;
    width: 200px;
}

.Price h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
}
.Prod{
    display: flex;
    flex-direction: row;
}

.Text{
    width: 333px;
    font-size: 13px;
    margin-right: 18px;
}

.Text h3{
    margin-top: 16px;
}






